* {
    padding: 0;
    margin: 0;
    /*color: white;*/ 
    /*background-color: #10101a;*/
    box-sizing: border-box;
    font-family: comfortaa, cursive;
    scroll-behavior: smooth;
}

h1 {
    font-size: 50px;
}

a {
    text-decoration: none;
}

i {
    font-size: 30px;
    cursor: pointer;
    position: sticky;
    top: 40px;
    left: 95%;
    /*top: 50px;
    left: 95%;
    transform: translate(-50%, -50%)*/
}

.main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome {
    padding-top: 200px;
    padding-bottom: 50px;
}

.welcome-p {
    padding-bottom: 150px;
    text-align: center;
}

.projects-main {
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .projects-1 {
    margin-top: 1rem;
    padding-top: 1rem;
} */

 #redirect-project {
    margin-top: 10%;;
 }

.my-div, .my-div2, .my-div3, .my-div4 {
    width: 300px;
    height: 350px;
    padding-top: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

a {
    padding-top: 20px;
}

.projects {
    margin: 5rem auto;
    width: 475px;
    border: 3px solid #d59bf6;
    border-radius: 50px;
    margin-top: 10%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.view-projects {
    border: 3px solid #d59bf6;
    border-radius: 50px;
    padding: 22px;
    font-size: 1.5em;
    cursor: pointer;
}

.skills {
    text-align: center;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: 2;
    /* justify-content: center;
    align-content: center;
    gap: 4px;
    grid-auto-flow: row; */
    position: absolute;
    left: 50%;
    transform: translate(-40%, -50%); 
    margin-bottom: 200px;
}

/* .skills-list {
    padding: 20px;
} */

#gradient {
    background: linear-gradient(-45deg, #cf59e6, #6bc5f8, #cf59e6, #6bc5f8);
    background-size: 400%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    animation: gradient 3s ease infinite;
}

@keyframes gradient{
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.visit-website {
    color: #B58DB6;
}

.visit-website:hover {
    color: #6bc5f8;
}

.socials {
    text-align: center;
    display: block;
}

.connect {
    margin-bottom: 30px;
}

.SM {
    text-decoration: none;
    padding: 10px;
    color: #B58DB6;
}

.SM:hover {
    color: #6bc5f8;
    transition: 0.25s linear;
}

footer {
    margin-top: 150px;
    text-align: center;
    padding: 30px;
    border-top: 1px solid #d59bf6;
}

svg {
    width: 36px;
    height: 36px;
    margin: 10px;
}

.svg {
    fill: currentColor;
}

@media only screen and (max-width: 550px) {
    .welcome {
        padding-top: 150px;
    }
    .projects {
        margin-top: 20%;
        padding-top: 20%;
        width: 320px;
    }
    .my-div, .my-div-2, .my-div-3, .my-div4 {
        width: 280px;

    }
    h1 {
        font-size: 30px;
        text-align: center;
    }
    h2 {
        font-size: 20px;
        padding-right: 9%;
        padding-left: 9%;
    }
    .skills-container {
        grid-template-columns: repeat(3, 80px);

    }
    .skills-container h3 {
        font-size: 0.75em;
    }

    i {
        position: absolute;
        top: 40px;
        left: 90%;
    }
    .view-projects {
        font-size: 1em;
        padding: 5px;
    }
    .welcome-p {
        padding-bottom: 100px;
    }
    .projects-main {
        padding-bottom: 100px;
    }
}

@media only screen and (max-width: 1280px) {
    #redirect-project {
        margin-top: 20%;
    }
}

@media only screen and (max-width: 280px) {
    #redirect-project {
        margin-top: 60%;
    }
    .projects {
        width: 260px;
    }
    .my-div, .my-div2, .my-div3, .my-div4 {
        width: 240px;
        height: 280px;
    }
}