* {
    padding: 0;
    margin: 0;
    color: white; 
    background-color: #10101a;
    box-sizing: border-box;
    font-family: comfortaa, cursive;
    scroll-behavior: smooth;
}

i {
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 50px;
    left: 95%;
    transform: translate(-50%, -50%)
}

.main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome {
    padding-top: 300px;
    padding-bottom: 50px;
}

.welcome-p {
    padding-bottom: 150px;
    text-align: center;
}

.projects-main {
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    padding-top: 20px;
}

.projects {
    margin: 10rem auto;
    width: 20%;
    border: 1px solid white;
    padding-top: 12rem;
    padding-bottom: 12rem;
    display: flex;
}

.view-projects {
    padding: 10px;
    font-size: 1em;
}

.skills {
    text-align: center;
    padding-bottom: 50px;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: 2;
    justify-content: center;
    text-align: center;
    margin-bottom: 200px;
}

.skills-list {
    padding: 20px;
}

#gradient {
    background: linear-gradient(-45deg, #cf59e6, #6bc5f8, #cf59e6, #6bc5f8);
    background-size: 400%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    animation: gradient 3s ease infinite;
}

@keyframes gradient{
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.socials {
    text-align: center;
}

.SM {
    text-decoration: none;
}

footer {
    margin-top: 150px;
}